body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Tabs */
.tabs {
  margin-bottom: 20px;
}
.tab-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}
.tab-btn.active {
  background-color: #0d47a1;
  color: white;
}
.tab-btn.inactive {
  background-color: #333;
  color: #888;
}

/* Layout */
.container {
  display: flex;
  gap: 20px;
  flex: 1;
}

.main-panel {
  flex: 2;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #333;
}

.side-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.panel-box {
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #333;
}
.mt-auto {
  margin-top: auto;
}

/* Inputs */
.input-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #aaa;
}
input,
select {
  width: 100%;
  padding: 10px;
  background-color: #2d2d2d;
  border: 1px solid #444;
  border-radius: 5px;
  color: white;
  box-sizing: border-box; /* Важливо для width 100% */
}
input:focus,
select:focus {
  border-color: #0d47a1;
  outline: none;
}

.row {
  display: flex;
  gap: 15px;
}
.half {
  flex: 1;
}

/* Buttons */
.buttons-row {
  margin-bottom: 20px;
}
.btn-blue {
  flex: 1;
  background-color: #0d47a1;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.btn-blue:hover {
  background-color: #083275;
}

.btn-green {
  width: 100%;
  background-color: #1b8e38;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.btn-green:hover {
  background-color: #146c2e;
}

/* Logs */
.log-box {
  height: 300px;
  background-color: #111;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 12px;
  color: #00ff00;
  overflow-y: auto;
}
select.input-field {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}
